<div>

  <app-user-info></app-user-info>

  <div class="menu--main-routing links">
    <p>MENU</p>
    <div>
      <a routerLink="" class="link">
        <i class="fas fa-home"></i>
        <span class="links--text">Home</span>
      </a>
    </div>
    <div>
      <a routerLink="" class="link">
        <i class="fas fa-building"></i>
        <span class="links--text">Community</span>
      </a>
    </div>
    <div>
      <a routerLink="" class="link">
        <i class="fas fa-compass"></i>
        <span class="links--text">Discovery</span>
      </a>
    </div>
    <div>
      <a routerLink="" class="link">
        <i class="fas fa-stopwatch"></i>
        <span class="links--text">Coming soon</span>
      </a>
    </div>
  </div>

  <div class="social links">
    <p>SOCIAL</p>
    <a routerLink="" class="link">
      <i class="fas fa-user-friends"></i>
      <span class="links--text">Friends</span>
    </a>
    <a routerLink="" class="link">
      <i class="fas fa-glass-cheers"></i>
      <span class="links--text">Parties</span>
    </a>
    <a routerLink="" class="link">
      <i class="fas fa-bullseye"></i>
      <span class="links--text">Media</span>
    </a>
  </div>

  <div class="general links">
    <p>GENERAL</p>
    <a routerLink="" class="link">
      <i class="fas fa-cog"></i>
      <span class="links--text">Settings</span>
    </a>
    <a routerLink="" class="link">
      <i class="fas fa-sign-out-alt"></i>
      <span class="links--text">Log out</span>
    </a>
  </div>

</div>
